-d https://raw.githubusercontent.com/ska-sa/katsdpdockerbase/master/docker-base-build/base-requirements.txt
-d https://raw.githubusercontent.com/ska-sa/katsdpdockerbase/master/docker-base-gpu-build/requirements.txt

astropy
dask
numba
numpy<1.21,>=1.18
pre-commit>=2.9.2
pytest
scipy
typing-extensions
